* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    white-space: normal;
    word-break: break-word;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e8e8e8;
}

.alert {
    color: red;
    font-weight: bold;
}

.pseudo-condition {
    font-size: 0.8rem;
}

.bold {
    font-weight: bold;
}

.upp {
    text-transform: uppercase;
}

/* header */

.header {
    width: 100%;
    height: 8rem;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cercle {
    background-color: #cdcdcd;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    align-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.cercle a {
    color: #2d2d2d;
    font-weight: bold;
}

.nav-header {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.nav-header a,
.return-portfolio a {
    font-size: 2.5rem;
    color: white;
}

.nav-header a:hover,
.return-portfolio a:hover{
    color: rgb(242, 190, 58);
}

/* PAGE admin index */

.main-admin {
    width: 100%;
    height: calc(100% - 11.18rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #e3e3e3;
    min-width: 30rem;
    width: 50%;
    height: 30rem;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 2px solid #cdcdcd;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
}

.title-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
}

.input-text {
    height: 2rem;
    padding: 0.5rem;
}

.input-text:focus {
    outline: 2px solid #eca726
}

.menu-admin {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 3rem;
}

.menu-admin a {
    color: #353535;
}

.menu-admin a:hover {
    color: rgb(242, 190, 58);
}

/* PAGE tech */

.main-tech {
    width: 100%;
    /* height: calc(100% - 11.18rem); */
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.show-tech {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.8rem;
    
}

.box-tech {
    width: 20rem;
    min-height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid #222222;
    gap: 2rem;
}

.box-tech-info {
    text-align: center;
    margin: 0 auto;
}

.duo-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tech-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}


/* Boutons*/

.button-connexion {
    background-color: rgb(204, 204, 204);
    width: 8rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.button-connexion:hover {
    background-color: #2d2d2d36;
}

.button-update,
.button-red,
.button-green,
.button-yellow {
    width: 6rem;
    margin: 0 auto;
    padding: 0.5rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.button-update:hover {
    background-color: rgba(241, 196, 49, 0.527);
}

.button-red {
    background-color: rgb(238, 46, 46);
}
.button-red:hover {
    background-color: rgb(255, 50, 50);
}

.button-green {
    background-color: rgb(58, 175, 22);
}
.button-green:hover {
    background-color: rgb(69, 202, 29);
}

.button-yellow {
    background-color: rgb(241, 221, 38);
}
.button-yellow:hover {
    background-color: rgb(255, 233, 37);
}


/* footer */

.footer-admin {
    width: 100%;
    padding: 1rem;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}