* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    white-space: normal;
    word-break: break-word;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e8e8e8;
}

.alert-red {
    color: red;
    font-weight: bold;
    text-align: center;
}
.alert-green {
    color: rgb(60, 197, 48);
    font-weight: bold;
    text-align: center;
}

.pseudo-condition {
    font-size: 0.8rem;
}

.bold {
    font-weight: bold;
}

.upp {
    text-transform: uppercase;
}

.logo {
    width: 10rem;
    height: 10rem;
}

/* header */

.header {
    width: 100%;
    height: 8rem;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cercle {
    background-color: #cdcdcd;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    align-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.cercle a {
    color: #2d2d2d;
    font-weight: bold;
}

.nav-header {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.nav-header a,
.return-portfolio a {
    font-size: 2.5rem;
    color: white;
}

.nav-header a:hover,
.return-portfolio a:hover{
    color: rgb(242, 190, 58);
}

/* PAGE admin index */

.main-admin {
    width: 100%;
    height: calc(100% - 11.18rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #e3e3e3;
    min-width: 30rem;
    width: 50%;
    height: 30rem;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 2px solid #cdcdcd;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
}

.title-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
}

.input-text,
.select-button,
input[type=file]::file-selector-button {
    height: fit-content;
    padding: 0.5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
}

.input-text:focus,
.select-button:focus {
    
    outline: 2px solid #fdcc2b
}

.select-button,
input[type=file]::file-selector-button {
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: #fdcc2b;
    border: 1px solid #f0c129;
}

.menu-admin {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 3rem;
}

.menu-admin a {
    color: #353535;
}

.menu-admin a:hover {
    color: rgb(242, 190, 58);
}

/* PAGE tech */

.main-tech,
.main-projet {
    width: 100%;
    /* height: calc(100% - 11.18rem); */
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.show-tech,
.show-projet {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1.8rem;
    
}

.box-tech {
    width: 20rem;
    min-height: 15rem;
    padding: 1.5rem 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid #222222;
    gap: 2rem;
    position: relative;
}

.box-tech-info {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}

.duo-button {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: -15px;
    right: 3px;
}

.tech-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.button-add-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

/* Project */

.box-projet {
    min-width: 20rem;
    width: 25%;
    min-height: 15rem;
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #222222;
    gap: 1rem;
    position: relative;
}

.box-projet-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.text-projet-info,
.projet-title-box,
.projet-text-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-projet-info {
    width: 100%;
}

.projet-text-box {
    height: 100%;
}

.projet-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.projet-input-tech {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

.projet-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tech-box {
    width: 6rem;
    display: flex;
    gap: 0.5rem;
}

.projet-img {
    width: 100%;
    height: 17rem;
}

.projet-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/* Boutons*/

.button-connexion {
    background-color: rgb(204, 204, 204);
    width: 8rem;
    height: 3rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.button-connexion:hover {
    background-color: #2d2d2d36;
}

.button-update,
.button-red,
.button-green,
.button-yellow {
    width: 6rem;
    margin: 0 auto;
    padding: 0.5rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.button-update:hover {
    background-color: rgba(241, 196, 49, 0.527);
}

.button-red {
    background-color: rgb(238, 46, 46);
}
.button-red:hover {
    background-color: rgb(255, 50, 50);
}

.button-green {
    background-color: rgb(58, 175, 22);
}
.button-green:hover {
    background-color: rgb(69, 202, 29);
}

.button-yellow {
    background-color: rgb(241, 204, 38);
}
.button-yellow:hover {
    background-color: rgb(236, 216, 35);
}

.select-button {
    width:max-content;
    padding: 0.5rem;
}

/* footer */

.footer-admin {
    width: 100%;
    padding: 1rem;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}